.table {
   font-size: 30px;
   margin-bottom: 100px;
   color: rgb(69, 69, 69);
}

h2 {
    font-size: 40px;
    color: rgb(53, 52, 52);
}

.first-lead {
    color: rgb(53, 52, 52);
  }
  
  .copyright {
    color: rgb(69, 69, 69); ;
  }
  
.lead {
    color:rgb(69, 69, 69); 
}

.price {
    text-align: left;
    width: 175px;
}



@media (max-width:500px) {
    .table {
        font-size: 15px;
    }
    h2 {
        font-size: 20px;
    }
    .first-lead {
        font-size: 15px;
    }
    .lead {
        font-size: 15px;
    }
    .copyright {
        font-size: 10px;
    }
}
